dialog/WatsonDialogDocument_1.1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           attributeFormDefault="unqualified" elementFormDefault="qualified">

    <xs:element name="dialog" type="dialogType"/>

    <xs:complexType name="flowType">
        <xs:sequence>
            <xs:element type="folderNodeType" name="folder" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="dialogType">
        <xs:sequence>
            <xs:element type="flowType" name="flow"/>
            <xs:element type="entitiesType" name="entities" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element type="constantsType" name="constants" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element type="variablesType" name="variables" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element type="translationsType" name="translations" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element type="stopwordsType" name="stopwords" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element type="dictionariesType" name="dictionaries" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element type="settingsType" name="settings" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element type="specialSettingsType" name="specialSettings" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element type="reportsType" name="reports" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element type="hitNodeRulesType" name="hitnoderules" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element type="profileValueRulesType" name="profilevaluerules" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:group name="commonChatflowNodePropertiesChilds">
        <xs:choice>
            <xs:element type="actionType" name="action" minOccurs="0"/>
            <xs:element type="scriptType" name="script" minOccurs="0"/>
        </xs:choice>
    </xs:group>

    <xs:group name="commonChatflowNodeChilds">
        <xs:choice>
            <xs:element type="inputNodeType" name="input" minOccurs="0"/>
            <xs:element type="outputNodeType" name="output" minOccurs="0"/>
            <xs:element type="throwNodeType" name="throw" minOccurs="0"/>            
            <xs:element type="defaultNodeType" name="default" minOccurs="0"/>
            <xs:element type="functionNodeType" name="function" minOccurs="0"/>
            <xs:element type="getUserInputNodeType" name="getUserInput" minOccurs="0"/>
            <xs:element type="gotoNodeType" name="goto" minOccurs="0"/>
            <xs:element type="ifNodeType" name="if" minOccurs="0"/>
            <xs:element type="randomNodeType" name="random" minOccurs="0"/>
            <xs:element type="searchNodeType" name="search" minOccurs="0"/>
            <xs:element type="folderNodeType" name="folder" minOccurs="0"/>
            <xs:element type="frameNodeType" name="frame" minOccurs="0"/>
        </xs:choice>
    </xs:group>

    <xs:complexType name="chatflowNode" abstract="true">
        <xs:attribute type="xs:string" name="gid" use="optional"/>
        <xs:attribute type="xs:string" name="id" use="optional"/>
        <xs:attribute type="xs:string" name="comment" use="optional"/>
        <xs:attribute type="xs:string" name="date" use="optional"/>
        <xs:attribute type="xs:boolean" name="isOffline" use="optional"/>
        <xs:attribute type="xs:boolean" name="isShowRelatedNodes"/>
    </xs:complexType>

    <xs:complexType name="inputNodeType">
        <xs:complexContent>
            <xs:extension base="chatflowNode">
                <xs:sequence>
                    <xs:choice maxOccurs="unbounded" minOccurs="0">
                        <xs:group ref="commonChatflowNodePropertiesChilds"/>
                        <xs:element type="grammarType" name="grammar" minOccurs="0"/>
                    </xs:choice>
                    <xs:choice maxOccurs="unbounded" minOccurs="0">
                        <xs:group ref="commonChatflowNodeChilds"/>
                    </xs:choice>
                    <xs:element type="relatedNodesType" name="related" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
                <xs:attribute type="xs:string" name="ref" use="optional"/>
                <xs:attribute type="xs:boolean" name="isAutoLearnCandidate"/>
                <xs:attribute type="xs:boolean" name="isRelatedNodeCandidate"/>
                <xs:attribute type="xs:boolean" name="isApproved"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="outputNodeType">
        <xs:complexContent>
            <xs:extension base="chatflowNode">
                <xs:sequence>
                    <xs:choice maxOccurs="unbounded" minOccurs="0">
                        <xs:group ref="commonChatflowNodePropertiesChilds"/>
                        <xs:element type="promptType" name="prompt"/>
                    </xs:choice>
                    <xs:choice maxOccurs="unbounded" minOccurs="0">
                        <xs:group ref="commonChatflowNodeChilds"/>
                    </xs:choice>
                    <xs:element type="relatedNodesType" name="related" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
                <xs:attribute type="xs:string" name="ref" use="optional"/>
                <xs:attribute type="xs:boolean" name="isInsertDNRStatement"/>
                <xs:attribute type="xs:boolean" name="isApproved"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
     
    <xs:complexType name="throwNodeType">
        <xs:complexContent>
            <xs:extension base="chatflowNode">
                <xs:sequence>
                    <xs:choice maxOccurs="unbounded" minOccurs="0">
                        <xs:group ref="commonChatflowNodePropertiesChilds"/>
                        <xs:element type="condType" name="cond" minOccurs="0"/>
                        <xs:element type="promptType" name="prompt" minOccurs="0"/>
                    </xs:choice>
                    <xs:choice maxOccurs="unbounded" minOccurs="0">
                        <xs:group ref="commonChatflowNodeChilds"/>
                    </xs:choice>
                </xs:sequence>
                <xs:attribute type="xs:string" name="event" /> 
                <xs:attribute type="xs:string" name="payload" use="optional"/>  
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    

    <xs:complexType name="defaultNodeType">
        <xs:complexContent>
            <xs:extension base="chatflowNode">
                <xs:sequence>
                    <xs:choice maxOccurs="unbounded" minOccurs="0">
                        <xs:group ref="commonChatflowNodePropertiesChilds"/>
                    </xs:choice>
                    <xs:choice maxOccurs="unbounded" minOccurs="0">
                        <xs:group ref="commonChatflowNodeChilds"/>
                    </xs:choice>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="functionNodeType">
        <xs:complexContent>
            <xs:extension base="chatflowNode">
                <xs:sequence>
                    <xs:choice maxOccurs="unbounded" minOccurs="0">
                        <xs:group ref="commonChatflowNodePropertiesChilds"/>
                    </xs:choice>
                    <xs:choice maxOccurs="unbounded" minOccurs="0">
                        <xs:group ref="commonChatflowNodeChilds"/>
                    </xs:choice>
                </xs:sequence>
                <xs:attribute type="functionNodeTypeType" name="type" use="optional"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="getUserInputNodeType">
        <xs:complexContent>
            <xs:extension base="chatflowNode">
                <xs:sequence>
                    <xs:choice maxOccurs="unbounded" minOccurs="0">
                        <xs:group ref="commonChatflowNodePropertiesChilds"/>
                    </xs:choice>
                    <xs:choice maxOccurs="unbounded" minOccurs="0">
                        <xs:group ref="commonChatflowNodeChilds"/>
                    </xs:choice>
                </xs:sequence>
                <xs:attribute type="xs:string" name="isDNRCandidate" use="optional"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="gotoNodeType">
        <xs:complexContent>
            <xs:extension base="chatflowNode">
                <xs:sequence>
                    <xs:choice maxOccurs="unbounded" minOccurs="0">
                        <xs:group ref="commonChatflowNodePropertiesChilds"/>
                    </xs:choice>
                    <xs:choice maxOccurs="unbounded" minOccurs="0">
                        <xs:group ref="commonChatflowNodeChilds"/>
                    </xs:choice>
                </xs:sequence>
                <xs:attribute type="xs:string" name="ref" use="optional"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="ifNodeType">
        <xs:complexContent>
            <xs:extension base="chatflowNode">
                <xs:sequence>
                    <xs:choice maxOccurs="unbounded" minOccurs="0">
                        <xs:group ref="commonChatflowNodePropertiesChilds"/>
                        <xs:element type="condType" name="cond" minOccurs="0"/>
                        <xs:element type="promptType" name="prompt" minOccurs="0"/>
                        <xs:element type="elseType" name="else" minOccurs="0"/>
                        <xs:element type="elseIfType" name="elseif" minOccurs="0"/>
                    </xs:choice>
                    <xs:choice maxOccurs="unbounded" minOccurs="0">
                        <xs:group ref="commonChatflowNodeChilds"/>
                    </xs:choice>
                </xs:sequence>
                <xs:attribute type="xs:string" name="ref" use="optional"/>
                <xs:attribute type="matchTypeType" name="matchType" use="optional"/>
                <xs:attribute type="xs:string" name="cond" use="optional"/>                
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="randomNodeType">
        <xs:complexContent>
            <xs:extension base="chatflowNode">
                <xs:sequence>
                    <xs:choice maxOccurs="unbounded" minOccurs="0">
                        <xs:group ref="commonChatflowNodePropertiesChilds"/>
                    </xs:choice>
                    <xs:choice maxOccurs="unbounded" minOccurs="0">
                        <xs:group ref="commonChatflowNodeChilds"/>
                    </xs:choice>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="searchNodeType">
        <xs:complexContent>
            <xs:extension base="chatflowNode">
                <xs:sequence>
                    <xs:choice maxOccurs="unbounded" minOccurs="0">
                        <xs:group ref="commonChatflowNodePropertiesChilds"/>
                        <xs:element type="classifierType" name="classifier" minOccurs="0" maxOccurs="1"/>
                    </xs:choice>
                    <xs:choice maxOccurs="unbounded" minOccurs="0">
                        <xs:group ref="commonChatflowNodeChilds"/>
                    </xs:choice>
                </xs:sequence>
                <xs:attribute type="xs:string" name="ref" use="optional"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="folderNodeType">
        <xs:complexContent>
            <xs:extension base="chatflowNode">
                <xs:sequence>
                    <xs:choice maxOccurs="unbounded" minOccurs="0">
                        <xs:group ref="commonChatflowNodePropertiesChilds"/>
                    </xs:choice>
                    <xs:choice maxOccurs="unbounded" minOccurs="0">
                        <xs:group ref="commonChatflowNodeChilds"/>
                        <xs:element type="conceptNodeType" name="concept"/>
                    </xs:choice>
                    <xs:element name="autoLearnVariations" minOccurs="0">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="item" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
                <xs:attribute type="xs:string" name="label" use="optional"/>
                <xs:attribute type="selectionTypeType" name="selectionType" use="optional"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="frameNodeType">
        <xs:complexContent>
            <xs:extension base="chatflowNode">
                <xs:sequence>
                    <xs:choice maxOccurs="unbounded" minOccurs="0">
                        <xs:group ref="commonChatflowNodePropertiesChilds"/>
                        <xs:element type="linkType" name="link" minOccurs="0"/>
                        <xs:element type="grammarType" name="grammar" minOccurs="0"/>
                        <xs:element type="promptType" name="prompt" minOccurs="0"/>
                        <xs:element type="slotType" name="slot" minOccurs="0"/>
                        <xs:element type="catchType" name="catch" minOccurs="0"/>
                        <xs:element type="seqType" name="seq" minOccurs="0"/>
                        <xs:element type="yieldType" name="yield" minOccurs="0"/>
                        <xs:element type="clearType" name="clear" minOccurs="0"/>
                    </xs:choice>
                    <xs:choice maxOccurs="unbounded" minOccurs="0">
                        <xs:group ref="commonChatflowNodeChilds"/>
                    </xs:choice>
                </xs:sequence>  
                <xs:attribute type="xs:string" name="className"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>    

    <xs:complexType name="conceptNodeType">
        <xs:complexContent>
            <xs:extension base="chatflowNode">
                <xs:choice maxOccurs="unbounded" minOccurs="0">
                    <xs:element type="grammarType" name="grammar" minOccurs="0"/>
                    <xs:element type="conceptNodeType" name="concept" minOccurs="0"/>
                    <xs:element type="folderNodeType" name="folder" minOccurs="0"/>
                </xs:choice>
                <xs:attribute type="xs:string" name="ref" use="optional"/>
                <xs:attribute type="xs:string" name="description" use="optional"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="actionType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="varName" use="optional"/>
                <xs:attribute type="actionOperatorType" name="operator" use="optional"/>
                <xs:attribute type="xs:string" name="gid" use="optional"/>
                <xs:attribute type="xs:string" name="id" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="scriptType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="name" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="condType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="varName" use="optional"/>
                <xs:attribute type="conditionOperatorType" name="operator" use="optional"/>
                <xs:attribute type="xs:string" name="gid" use="optional"/>
                <xs:attribute type="xs:string" name="id" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="grammarType">
        <xs:choice maxOccurs="unbounded" minOccurs="0">
            <xs:element type="xs:string" name="item" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element type="xs:string" name="source" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element name="param" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="key" use="optional"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
        </xs:choice>
        <xs:attribute type="grammarTypeType" name="type" use="optional"/>
        <xs:attribute type="xs:boolean" name="positive" use="optional"/>
        <xs:attribute type="xs:string" name="scope" use="optional"/>
    </xs:complexType>
    
    <xs:complexType name="classifierType">
        <xs:choice maxOccurs="unbounded" minOccurs="0">
            <xs:element type="xs:string" name="customParams" maxOccurs="1" minOccurs="0"/>
        </xs:choice>
        
        <xs:attribute type="classifierPolicyType" name="policy"/>
        <xs:attribute type="xs:double" name="threshold" use="optional"/>
        <xs:attribute type="xs:double" name="fuzzyThreshold" use="optional"/>
        <xs:attribute type="xs:boolean" name="trainOnInput" use="optional"/>
        <xs:attribute type="xs:boolean" name="trainOnOutput" use="optional"/>
        <xs:attribute type="xs:boolean" name="exactMatchFirst" use="optional"/>        
    </xs:complexType>

    <xs:complexType name="promptType" mixed="true">
        <xs:sequence>
            <xs:element type="xs:string" name="item" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute type="selectionTypeType" name="selectionType" use="optional"/>
        <xs:attribute type="promptTypeType" name="type" use="optional"/>
        <xs:attribute type="xs:string" name="cond" use="optional"/>
    </xs:complexType>

    <xs:complexType name="repromptType" mixed="true">
    </xs:complexType>

    <xs:complexType name="relatedNodesType">
        <xs:sequence>
            <xs:element name="relNode" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                    <xs:attribute type="xs:string" name="ref" use="optional"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="slotType">
        <xs:sequence>
            <xs:choice maxOccurs="unbounded" minOccurs="0">
                <xs:group ref="commonChatflowNodePropertiesChilds"/>
                <xs:element type="linkType" name="link" minOccurs="0"/>
                <xs:element type="grammarType" name="grammar" minOccurs="0"/>
                <xs:element type="promptType" name="prompt" minOccurs="0"/>
                <xs:element type="catchType" name="catch" minOccurs="0"/>
                <xs:element type="yieldType" name="yield" minOccurs="0"/>
                <xs:element type="throwNodeType" name="throw" minOccurs="0"/>
                <xs:element type="clearType" name="clear" minOccurs="0"/>
                <xs:element type="ifNodeType" name="if" minOccurs="0"/>
                <xs:element type="seqType" name="seq" minOccurs="0"/>                
            </xs:choice>                   
        </xs:sequence>  
        <xs:attribute type="xs:string" name="ref" use="optional"/>
        <xs:attribute type="xs:string" name="id"/>
    </xs:complexType>
    
    <xs:complexType name="catchType">
        <xs:sequence>
            <xs:choice maxOccurs="unbounded" minOccurs="0">
                <xs:group ref="commonChatflowNodePropertiesChilds"/>
                <xs:element type="assignType" name="assign" minOccurs="0"/>
                <xs:element type="promptType" name="prompt" minOccurs="0"/>
                <xs:element type="repromptType" name="reprompt" minOccurs="0"/>
                <xs:element type="seqType" name="seq" minOccurs="0"/>
                <xs:element type="yieldType" name="yield" minOccurs="0"/>
                <xs:element type="clearType" name="clear" minOccurs="0"/>
                <xs:element type="exitType" name="exit" minOccurs="0"/>
            </xs:choice>
            <xs:choice maxOccurs="unbounded" minOccurs="0">
                <xs:group ref="commonChatflowNodeChilds"/>
            </xs:choice>
        </xs:sequence>        
        <xs:attribute type="xs:string" name="event"/>
        <xs:attribute type="xs:int" name="count"/>
    </xs:complexType>
    
     <xs:complexType name="seqType">
        <xs:sequence>
            <xs:choice maxOccurs="unbounded" minOccurs="0">
                <xs:group ref="commonChatflowNodePropertiesChilds"/>
                <xs:element type="assignType" name="assign" minOccurs="0"/>
                <xs:element type="linkType" name="link" minOccurs="0"/>
                <xs:element type="grammarType" name="grammar" minOccurs="0"/>
                <xs:element type="promptType" name="prompt" minOccurs="0"/>
                <xs:element type="catchType" name="catch" minOccurs="0"/>
                <xs:element type="ifNodeType" name="if" minOccurs="0"/>
                <xs:element type="throwNodeType" name="throw" minOccurs="0"/>
                <xs:element type="yieldType" name="yield" minOccurs="0"/>
                <xs:element type="clearType" name="clear" minOccurs="0"/>
                <xs:element type="exitType" name="exit" minOccurs="0"/>                
            </xs:choice>                   
        </xs:sequence>  
        <xs:attribute type="xs:string" name="ref" use="optional"/>
        <xs:attribute type="xs:string" name="id"/>
    </xs:complexType>       
    
    <xs:complexType name="linkType">
        <xs:sequence>
            <xs:element type="grammarType" name="grammar" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>    
        <xs:attribute type="xs:string" name="event"/>
        <xs:attribute type="xs:string" name="next"/>
    </xs:complexType>    

    <xs:complexType name="clearType">
        <xs:attribute type="xs:string" name="namelist" use="optional"/>        
    </xs:complexType>      

    <xs:complexType name="assignType">
      <xs:attribute type="xs:string" name="name"/>
      <xs:attribute type="xs:string" name="value"/>        
    </xs:complexType>      

    <xs:complexType name="yieldType">        
    </xs:complexType>       

    <xs:complexType name="exitType">        
    </xs:complexType>       

    <xs:complexType name="elseType">        
    </xs:complexType>       

    <xs:complexType name="elseIfType">
    <xs:attribute type="xs:string" name="cond"/>        
    </xs:complexType>       

    <xs:complexType name="entitiesType">
        <xs:sequence>
            <xs:element type="entityType" name="entity" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="entityType">
        <xs:sequence>
            <xs:element type="entityValueType" name="value" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element type="xs:string" name="entityRules"  maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="gid" use="optional"/>
        <xs:attribute type="xs:string" name="date" use="optional"/>
        <xs:attribute type="xs:string" name="name" use="optional"/>
        <xs:attribute type="entityTypeEnumType" name="entityType" use="optional"/>
        <xs:attribute type="xs:string" name="entityExample" use="optional"/>
    </xs:complexType>

	<xs:simpleType name="entityTypeEnumType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="GENERIC"/>
            <xs:enumeration value="LOCATION"/>
            <xs:enumeration value="DATE_TIME_RANGE"/>
            <xs:enumeration value="CONDITION"/>
            <xs:enumeration value="AMOUNT"/>
            <xs:enumeration value="CURRENCY_AMOUNT"/>
            <xs:enumeration value="PERCENTAGE_AMOUNT"/>
            <xs:enumeration value="PERSONAL_NAME"/>
            <xs:enumeration value="PHONE_NUMBER"/>
            <xs:enumeration value="CREDIT_CARD_NUMBER"/>
        </xs:restriction>
    </xs:simpleType>


    <xs:complexType name="entityValueType">
        <xs:sequence>
            <xs:element type="conceptNodeType" name="concept" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element type="grammarType" name="grammar" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="name" use="optional"/>
        <xs:attribute type="xs:string" name="value" use="optional"/>
    </xs:complexType>
    
    <xs:complexType name="translationSetType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
		        <xs:attribute type="xs:string" name="gid" use="optional"/>
		        <xs:attribute type="xs:string" name="date" use="optional"/>
		        <xs:attribute type="xs:string" name="name" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="stopwordsType">
        <xs:sequence>
            <xs:element type="stopwordSetType" name="stopwordSet" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="stopwordSetType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
		        <xs:attribute type="xs:string" name="gid" use="optional"/>
		        <xs:attribute type="xs:string" name="date" use="optional"/>
		        <xs:attribute type="xs:string" name="name" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="dictionariesType">
        <xs:sequence>
            <xs:element type="dictionaryType" name="dictionary" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="dictionaryType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
		        <xs:attribute type="xs:string" name="gid" use="optional"/>
		        <xs:attribute type="xs:string" name="date" use="optional"/>
		        <xs:attribute type="xs:string" name="name" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="constantsType">
        <xs:sequence>
            <xs:element type="var_folderType" name="var_folder" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="variablesType">
        <xs:sequence>
            <xs:element type="var_folderType" name="var_folder" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="var_folderType">
        <xs:sequence>
            <xs:element type="var_folderType" name="var_folder" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element type="varType" name="var" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="name" use="optional"/>
        <xs:attribute type="varFolderTypeType" name="type" use="optional"/>
        <xs:attribute type="xs:string" name="gid" use="optional"/>
        <xs:attribute type="xs:string" name="id" use="optional"/>
    </xs:complexType>

    <xs:complexType name="varType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="name" use="optional"/>
                <xs:attribute type="varTypeType" name="type" use="optional"/>
                <xs:attribute type="xs:string" name="gid" use="optional"/>
                <xs:attribute type="xs:string" name="id" use="optional"/>
                <xs:attribute type="xs:string" name="description" use="optional"/>
                <xs:attribute type="xs:string" name="initValue" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="translationsType">
        <xs:sequence>
            <xs:element type="translationSetType" name="translationSet" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element type="translationType" name="translation" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="translationType">
        <xs:sequence>
            <xs:element type="xs:string" name="src" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element type="xs:string" name="tgt" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="settingsType">
        <xs:sequence>
            <xs:element type="settingType" name="setting" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="settingType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="name" use="optional"/>
				<xs:attribute type="settingTypeType" name="type" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="specialSettingsType">
        <xs:sequence>
            <xs:element type="specialSettingType" name="specialSetting" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="specialSettingType">
        <xs:sequence>
            <xs:element type="variationsType" name="variations" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="gid" use="optional"/>
        <xs:attribute type="xs:string" name="id" use="optional"/>
        <xs:attribute type="xs:string" name="comment" use="optional"/>
        <xs:attribute type="xs:string" name="date" use="optional"/>
        <xs:attribute type="xs:string" name="label" use="optional"/>
        <xs:attribute type="xs:string" name="selectionType" use="optional"/>
    </xs:complexType>

    <xs:complexType name="variationsType">
        <xs:sequence>
            <xs:element type="xs:string" name="item" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="reportsType">
        <xs:sequence>
            <xs:element type="reportType" name="report" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="reportType">
        <xs:sequence>
            <xs:element type="xs:string" name="script"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="gid" use="optional"/>
        <xs:attribute type="xs:string" name="id" use="optional"/>
        <xs:attribute type="xs:string" name="date" use="optional"/>
        <xs:attribute type="xs:string" name="name" use="optional"/>
    </xs:complexType>

    <xs:complexType name="hitNodeRulesType">
        <xs:sequence>
            <xs:element type="hitNodeRuleType" name="hitnode_rule" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="hitNodeRuleType">
        <xs:sequence>
            <xs:element type="xs:string" name="description" minOccurs="0"/>
            <xs:element type="xs:string" name="match" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute type="xs:int" name="engaging" use="required"/>
        <xs:attribute type="xs:string" name="folderid"/>
        <xs:attribute type="xs:string" name="gid"/>
        <xs:attribute type="xs:string" name="matchType"/>
        <xs:attribute type="xs:string" name="type"/>
    </xs:complexType>

    <xs:complexType name="profileValueRulesType">
        <xs:sequence>
            <xs:element type="profileValueRuleType" name="profilevalue_rule" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="profileValueRuleType">
        <xs:sequence>
            <xs:element type="xs:string" name="description" minOccurs="0"/>
            <xs:element type="profileValueSubruleType" name="subrules" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute type="xs:int" name="engaging" use="required"/>
        <xs:attribute type="xs:string" name="folderid"/>
        <xs:attribute type="xs:string" name="gid"/>
        <xs:attribute type="xs:string" name="match"/>
        <xs:attribute type="xs:string" name="type"/>
    </xs:complexType>

    <xs:complexType name="profileValueSubruleType">
        <xs:sequence/>
        <xs:attribute type="conditionOperatorType" name="condType"/>
        <xs:attribute type="xs:string" name="value"/>
        <xs:attribute type="xs:string" name="varName"/>
    </xs:complexType>

    <xs:simpleType name="settingTypeType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="USER"/>
        </xs:restriction>
    </xs:simpleType>	
    
    <xs:simpleType name="functionNodeTypeType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CUSTOM"/>
            <xs:enumeration value="QA_PIPELINE"/>
            <xs:enumeration value="NLC_MODEL"/>
        </xs:restriction>
    </xs:simpleType>    
	
    <xs:simpleType name="varTypeType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="TEXT"/>
            <xs:enumeration value="NUMBER"/>
            <xs:enumeration value="YESNO"/>
            <xs:enumeration value="DATETIME"/>
            <xs:enumeration value="TAG"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="varFolderTypeType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="VAR"/>
            <xs:enumeration value="CONST"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="actionOperatorType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DO_NOTHING_STR"/>
            <xs:enumeration value="SET_TO"/>
            <xs:enumeration value="SET_TO_USER_INPUT"/>
            <xs:enumeration value="SET_TO_USER_INPUT_CORRECTED"/>
            <xs:enumeration value="INCREMENT_BY"/>
            <xs:enumeration value="DECREMENT_BY"/>
            <xs:enumeration value="SET_TO_YES"/>
            <xs:enumeration value="SET_TO_NO"/>
            <xs:enumeration value="YES"/>
            <xs:enumeration value="NO"/>
            <xs:enumeration value="SET_AS_USER_INPUT"/>
            <xs:enumeration value="SET_TO_BLANK"/>
            <xs:enumeration value="APPEND"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="conditionOperatorType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="EQUALS"/>
            <xs:enumeration value="CONTAINS"/>
            <xs:enumeration value="MATCHES_PATTERN"/>
            <xs:enumeration value="LESS_THEN"/>
            <xs:enumeration value="GREATER_THEN"/>
            <xs:enumeration value="EQUAL_TO_YES"/>
            <xs:enumeration value="EQUAL_TO_NO"/>
            <xs:enumeration value="IS_BLANK"/>
            <xs:enumeration value="HAS_VALUE"/>
            <xs:enumeration value="SET_TO"/>
            <xs:enumeration value="SET_TO_BLANK"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="grammarTypeType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="VARIATIONS"/>
            <xs:enumeration value="JSGF"/>            
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="promptTypeType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="VARIATIONS"/>
            <xs:enumeration value="NLG"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="selectionTypeType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SEQUENTIAL"/>
            <xs:enumeration value="RANDOM"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="matchTypeType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ALL"/>
            <xs:enumeration value="ANY"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="classifierPolicyType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SEARCHMODE_DEFAULT"/>        
            <xs:enumeration value="SEARCHMODE_CLASSIFIER"/>
            <xs:enumeration value="SEARCHMODE_VARIATIONS"/>
        </xs:restriction>
    </xs:simpleType>

</xs:schema>